* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: black;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showright 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a.active {
    color: aqua;
}

.home {
    height: 100vh;
    background: url(Coziest.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: relative;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showright 1s ease forwards;
    animation-delay: 1s;
}

.home-content h2 {
    color: aqua;
}

.home-content h2 {
    font-size: 35px;
    font-weight: 700;
    color: aquamarine;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: black;
    border: 2px solid aqua;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    transition: .5s;
}

.btn-box a:hover {
    color: aqua;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #131414;
}

.btn-box a:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: aqua;
    z-index: -1;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.btn-box a:hover::before {
    transform: scaleX(1);
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50px;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: aqua;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: aqua;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imghover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imghover:hover {
    background: transparent;
    opacity: .8;
}

/* KEYFRAMES ANIMATION */
@keyframes showright {
    100% {
       width: 0; 
    }
}

/*------------about-------------*/
#about{
    width: 100%;
    height: 100vh;
    background-image: url(Untitled\ design.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    color: orange;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: aquamarine;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: o.5s;
}

.tab-links.active-link::after{
    width: 50px;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------services--------------- */

#services{
    padding: 30px 0;
}
#services {
    padding: 30px 0;
    background: #000000;
}

.services-list div {
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    color: #ff8c00;
}
/* Contact Section */
#contact {
    background: #000000;
    padding: 50px 0;
}

.social-icons a {
    color: #f2f2f2;
    margin: 0 10px;
    font-size: 24px;
}

.social-icons a:hover {
    color: #4db8ff;
}
